
/*
    1 - basic
    2 - nav
    3 - me
    4 - projects
	5 - resume
	
	purple			-	#a5a8d2
	purple fade		-	#a5a8d2c9
	baby blue		-	#77b4fd
	baby blue fade	-	#77b3fdc9
	dark blue		-	#0b0b33
*/


/*  1 - basic    */
div {
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}

h1 {
	font-weight: bold;
	font-size: 34px;
    margin:0;
    padding:0;
	color: white;
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 20px;
    margin:0;
    padding:0;
	color: white;
	font-family: 'Raleway', sans-serif;
}

p {
	font-weight: bold;
	font-size: 17px;
    margin:0;
    padding:0;
	color: white;
	font-family: 'Raleway', sans-serif;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

body{
	font-family: arial,helvetica;
}

@media only screen and (max-width: 900px) {
	p {
		font-size: 16px;
	}
}

@media only screen and (max-width: 650px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
}

/*  2 - nav    */
#nav {
	display: flex;
	flex-flow: row nowrap;
	z-index: 70;
	width: 100%;
	position: fixed;
	justify-content: center;
	bottom:0;
	left:0;
	margin: 0px auto 35px;
}

.nav-btn {
	display:inline-block;
	margin: 0 20px; 
	color: #000;
	border-radius: 3px;
	background: #a5a8d2c9;
	-webkit-transition: background-color .6s; /* Safari */
    transition: background-color .6s;
}

@media only screen and (max-width: 650px) {
	#nav {
		justify-content: space-around;
		margin: 0px auto 7px;
	}

	.nav-btn {
		margin: 9px; 
	}
}

.nav-item {
	text-decoration:none;
	color: #000;
	padding: 6px 10px;
	display:block;
	font-size: 11px;
	font-weight: bold;
}

.nav-btn:hover {
	background: #a5a8d2;
}

.nav-btn.active:hover {
	background: #77b4fd;
}

.nav-btn.active {
	background: #77b4fd;
}

.nav-icon{
	margin-left: 3px;
}

/*  3 - me  */

.container-me {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	height: 100%;
}


.container-left {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.container-right {
	height: 100%;
	width: 50%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.container-profile {
	width: 350px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto 20px auto auto;
	padding:  5px;
}

.profilepic {
	min-height: 200px;
	min-width: 200px;
	background-image: url("../img/profilepic.svg");
	background-size: 200px 200px;
	background-color: #76b3fc;
	border-radius: 3px;
}

#name {
	font-weight: 700;
	margin-bottom: 3px;
	margin-top: 15px;
}

#occupation {
	font-weight: 400;
	color: #a5a8d2;
}

.aboutme {
	margin: 20px auto;
	padding: 15px 30px 15px 40px;
	font-weight: 500;
	line-height: 27px;
	text-indent: 20px;
	text-align: justify;
}

.contact-links {
	display: flex;
	flex-flow: row nowrap;
	margin: 20px auto;
	justify-content: center;
}

.contact-link {
	margin: 0 30px;
	color: white;
	-webkit-transition: color .6s; /* Safari */
    transition: color .6s;
}

.contact-link:hover {
	color: #77b4fd;
}


@media only screen and (max-width: 650px) {
    .container-left {
		display: block;
		min-width: 100%;
		height: 60%;
		margin-top: 10px;
	}
	
	.container-right {
		min-width: 100%;
		vertical-align: middle;
		margin: 0px 0 0;
		justify-content: flex-start;
		height: 40%;
	}

	.container-profile {
		margin: auto;
	}

	.aboutme {
		padding: 0 25px;
		margin: 10px auto 0;
		line-height: 22px;
	}

	.contact-links {
		margin: 10px auto;
	}
}

/*  4 - projects    */
.container-code {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	height: 100%;
}


.code-title {
	margin: 60px auto 0px;
	text-align: right;
	letter-spacing: 2px;
}

.container-code1 {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	height: 100%;
	padding-bottom: 25px;
}

.container-code1-divider {
	height: 100px;
	background-color: none;
	margin: 0;
}

.container-code1-1 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	height: 175px;
	width: 100%;
	background-color: #0b0b33;
	background: linear-gradient(to left, #000, #0b0b33, rgb(0, 0, 0) 75%, transparent 80%);
	margin: 110px auto 0;
}

.container-code1-2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	height: 175px;
	width: 100%;
	background: linear-gradient(to right, #000, #0b0b33, rgb(0, 0, 0) 75%, transparent 80%);
	margin: 120px auto 20px;
}

#container-code1-2-last {
	margin-bottom: 120px;
}

.code1-0-image {
	background-image: url("../img/dailydiary.jpg");
	border-radius: 3px;
	background-size: 275px 245px;
	min-width: 275px;
	height: 245px;
	margin: -35px 0 0 190px;
	order: 1;
}

.code1-1-image {
	background-image: url("../img/gameguide.jpg");
	border-radius: 3px;
	background-size: 275px 245px;
	min-width: 275px;
	height: 245px;
	margin: -35px 0 0 190px;
	order: 1;
}

.code1-2-image {
	background-image: url("../img/kirklandjaxon.jpg");
	border-radius: 3px;
	background-size: 275px 245px;
	min-width: 275px;
	height: 245px;
	float: left;
	margin: -35px 190px 0 0;
	order: 2;
}

.code1-3-image {
	background-image: url("../img/brandonbudron.jpg");
	border-radius: 3px;
	background-size: 275px 245px;
	min-width: 275px;
	height: 245px;
	margin: -35px 0 0 190px;
	order: 1;
}

.code1-4-image {
	background-image: url("../img/personalplanner.jpg");
	border-radius: 3px;
	background-size: 275px 245px;
	min-width: 275px;
	height: 245px;
	float: left;
	margin: -35px 190px 0 0;
	order: 2;
}

.container-code1-1-information {
	width: 525px;
	height: 110%;
	margin: -35px 0 0 10px;
	padding: 15px;
	order: 2;
}

.container-code1-2-information {
	width: 525px;
	height: 110%;
	margin: -35px 10px 0 0;
	padding: 15px;
	order: 1;
}

.code1-1-title { 
	margin: -13px 0 15px;
	text-align: left;
	font-size: 26px;
}


.code1-2-title { 
	margin: -13px 0 15px;
	text-align: right;
	font-size: 26px;
}

.code-description {
	line-height: 28px;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}

.code-description2 {
	line-height: 28px;
	font-weight: 400;
	text-align: right;
	font-size: 16px;
}

#links {
	margin-top: 10px;
}

.link1  {
	font-weight: 500;
	margin-right: 15px;
	margin-top: 20px;
	color: #0080ffe0;
}

.link1:hover {
	color: #0080ff;
}

.link2 {
	font-weight: 500;
	margin-left: 15px;
	color: #0080ffe0;
}

.link2:hover {
	color: #0080ff;
}

@media only screen and (max-width: 1300px) {
	.code1-0-image {
		margin: -35px 0 0 100px;
	}

	.code1-1-image {
		margin: -35px 0 0 100px;
	}

	.code1-2-image {
		margin: -35px 100px 0 0;
	}

	.code1-3-image {
		margin: -35px 0 0 100px;
	}

	.code1-4-image {
		margin: -35px 100px 0 0;
	}
}

@media only screen and (max-width: 1000px) {
	.code1-0-image {
		margin: -35px 0 0 45px;
	}

	.code1-1-image {
		margin: -35px 0 0 45px;
	}

	.code1-2-image {
		margin: -35px 45px 0 0;
	}

	.code1-3-image {
		margin: -35px 0 0 45px;
	}

	.code1-4-image {
		margin: -35px 45px 0 0;
	}
}

@media only screen and (max-width: 800px) {
	.code1-0-image {
		background-size: 220px 196px;
		width: 220px;
		min-width: 220px;
		height: 196px;
		min-height: 196px;
		margin: -35px 0 0 30px;
	}
	
	.code1-1-image {
		background-size: 220px 196px;
		width: 220px;
		min-width: 220px;
		height: 196px;
		min-height: 196px;
		margin: -35px 0 0 30px;
	}

	.code1-2-image {
		background-size: 220px 196px;
		width: 220px;
		min-width: 220px;
		min-height: 196px;
		height: 196px;
		margin: -35px 30px 0 0;
	}

	.code1-3-image {
		background-size: 220px 196px;
		width: 220px;
		min-width: 220px;
		height: 196px;
		min-height: 196px;
		margin: -35px 0 0 30px;
	}

	.code1-4-image {
		background-size: 220px 196px;
		width: 220px;
		min-width: 220px;
		min-height: 196px;
		height: 196px;
		margin: -35px 30px 0 0;
	}

	.container-code1-1-information {
		max-width: 325px;
	}

	.container-code1-2-information {
		max-width: 325px;
	}

	.code1-1-title { 
		font-size: 24px;
	}
	
	.code1-2-title { 
		font-size: 24px;
	}
	.code-description {
		line-height: 22px;
		font-size: 14px;
	}

	.code-description2 {
		line-height: 22px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px) {
	.code-title {
		margin: 50px auto 0px;
	}
	.container-code1 {
		margin-bottom: 50px;
	}

	.container-code1-divider {
		height: 50px;
		background: none;
		margin: 0;
	}

	.container-code1-1 {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		margin-top: 30px;
		height: auto;
		background: #0b0b33;
		padding-top: 25px;
		padding-bottom: 10px;
		border-radius: 7px;
		width: 350px;
	}
	
	.container-code1-2 {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		margin-top: 30px;
		height: auto;
		background: #0b0b33;
		padding-top: 25px;
		padding-bottom: 10px;
		border-radius: 7px;
		width: 350px;
	}

	#container-code1-2-last {
		margin-bottom: 35px;
	}
	
	.code1-0-image {
		margin: 0 auto;
	}

	.code1-1-image {
		margin: 0 auto;
	}

	.code1-2-image {
		margin: 0 auto;
		order: 1;
	}

	.code1-3-image {
		margin: 0 auto;
	}

	.code1-4-image {
		margin: 0 auto;
		order: 1;
	}
	
	.container-code1-1-information {
		width: 100%;
		margin: 0px auto;
		padding: 5px;
		order: 2;
	}
	
	.container-code1-2-information {
		width: 100%;
		margin: 0px auto;
		padding: 5px;
		order: 2;
	}
	
	.code1-1-title { 
		margin: 4px 0 5px;
		padding-top: 3px;
		text-align: center;
		font-size: 22px;
	}
	
	.code1-2-title { 
		margin: 4px 0 5px;
		padding-top: 3px;
		text-align: center;
		font-size: 22px;
	}
	.code-description {
		line-height: 25px;
		text-align: left;
		font-size: 14px;
		margin-left: 5px;
	}

	.code-description2 {
		line-height: 25px;
		text-align: left;
		font-size: 14px;
		margin-left: 5px;
	}

	.link1  {
		margin: 0 0 0 50px;
	}

	.link2 {
		margin: 0 0 0 50px;
	}
}

/*  5 - resume  */
.container-resume {
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	height: 100%;
}



.resume-title-container-25-2 {
	color: black;
	width: auto;
	text-align: right;
	font-size: 12px;
	font-family: Helvetica;
	font-weight: bold;
	background-color: #77b3fdc9;
	padding: 5px 10px;
	border-radius: 3px;
	-webkit-transition: background-color .6s; /* Safari */
    transition: background-color .6s;
}

.resume-title-container-25-2:hover {
	background-color: #77b3fd;

}

.resume-title {
	color: white;
	font-size: 30px;
	font-family: 'Raleway';
	font-weight: bold;
	margin: 60px auto 0;
	letter-spacing: 2px;
}

#pdf {
	color: #a5a8d2c9;
	font-size: 15px;
	font-family: 'Raleway';
	font-weight: 500;
	margin: 16px auto -15px;
	padding: 5px 16px;
	border: 1px solid transparent;
	-webkit-transition: color .6s, border .6s, border-radius .6s; /* Safari */
	transition: color .6s, border .6s, border-radius .6s;
	border-radius: 3px;
}

#pdf:hover {
	color: #a5a8d2;
	cursor: pointer;
	border: 1px solid #a5a8d2;
	border-radius: 15px;
}

.pdf-icon::before {
	margin-left: 7px;
}

.container-inner-resume {
	width: 600px;
	height: auto;
	margin: 10px auto;
	text-align: center;
}

.resume-subtitle {
	color: white;
	margin: 20px 0 0 40px;
	font-size: 24px;
	font-family: 'Raleway';
	text-align: left;
}

.education-details {
	color: white;
	margin: 20px 0 0 40px;
	font-size: 18px;
}

.work-details {
	color: white;
	margin: 20px 0 0 40px;
	font-size: 18px;
}

.education-work-list {
	list-style-type: none;
}

.education-title {
	line-height: 25px;
	text-align: left;
	font-size: 16px;
	font-family: 'Raleway';
	margin: 20px 0 5px;
}

.education-subtitle {
	line-height: 20px;
	font-size: 14px;
	font-family: 'Raleway';
	text-align: left;
	margin-bottom: 3px;
	color: #77b4fdc9;
	-webkit-transition: color .6s; /* Safari */
    transition: color .6s;
}

.education-subtitle::before {
	content: " ";
	margin-left: 15px;
}

.education-subtitle:hover {
	color: #77b4fd;
}

@media only screen and (max-width: 800px) {

	.resume-title-container {
		width: 80%;
	}

	.resume-subtitle {
		font-size: 24px;
	}

	.education-details {
		color: white;
		font-size: 18px;
		margin: 20px 0 0 40px;
	}

	.work-details {
		color: white;
		font-size: 18px;
		margin: 20px 0 0 40px;
	}

	.education-title {
		font-size: 14px;
	}

	.education-subtitle {
		font-size: 12px;
	}
}


@media only screen and (max-width: 600px) {

	.container-inner-resume {
		width: 90%;
	}

	.resume-title {
		margin: 50px auto 0px;
	}

	.resume-subtitle {
		color: white;
		margin: 10px auto;
		font-size: 24px;
	}

	.container-inner-resume {
		width: 90%;
		margin: 10px 10px 10px 10px;
	}

	.education-details {
		color: white;
		margin: 0px auto;
		font-size: 15px;
	}

	.work-details {
		color: white;
		margin: 0px auto;
		font-size: 15px;
	}

	#skills-container {
		margin: 0 40px 60px 0;
	}
	
}

#skills-container {
	margin: 0 auto 75px;
}

#tags > ul > li > a {
	font-family: 'Catamaran';
}