div {
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}

h1 {
	font-weight: bold;
	font-size: 35px;
    margin:0;
    padding:0;
    color: white;
}

h2 {
	font-weight: bold;
	font-size: 28px;
    margin:0;
    padding:0;
    color: white;
}


p {
	font-weight: bold;
	font-size: 20px;
    margin:0;
    padding:0;
	color: white;
	text-align: justify;
}

/* Nav Bar */

.nav{
	position:fixed;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	bottom:0;
	left:0;
	z-index: 70;
	width: 100%;
	margin: 0px auto 35px;
}

.nav-btn {
	display:inline-block;
	margin: 5px;
	color: #000;
	background: linear-gradient(20deg, rgba(120, 120, 120, 0.8), rgb(150, 150, 150, .8));
}

.nav-btn.active {
	background: blue;
}

.nav-item {
	text-decoration:none;
	color: #000;
	padding: 5px 10px;
	display:block;
	font-size: 11px;
	font-weight: bold;
}

.nav-btn:hover {
	background: rgba(225, 225, 225);
}

/* Container */

.container {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	height: 100%;
}

.container-code {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	height: 100%;
}

.container-me {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	height: 100%;
}

.container-resume {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	height: 100%;
}

.container-left {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-right {
	height: 100%;
	width: 50%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profilepic {
	height: 200px;
	width: 200px;
	background-image:
    linear-gradient(rgb(137, 134, 134), #3d4057);	border-radius: 50%;
	margin-bottom: 40px;
}

.aboutme {
	padding: 16px;
}


@media only screen and (max-width: 600px) {
	
    .container-left {
		width: 100%;
		height: 50%;
	}
	
	.container-right {
		width: 100%;
		height: 50%;
	}
}

.code-title {
	margin: 40px 0 0 40px;
	text-decoration: underline;
	text-decoration-color: blue;
}

/* code1 */

.container-code1 {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	height: 100%;
}

.container-code1-1 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 175px;
	width: 100%;
	background-color: rgb(60, 60, 60);
	margin: 70px auto 0;
}

.container-code1-2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 175px;
	width: 100%;
	background-color: rgb(45, 45, 45);
	margin: 100px auto auto;
}

.code1-1-image {
	background: #FFF;
	width: 275px;
	height: 245px;
	margin: -35px 0 0 20px;
	order: 2;
}

.code1-2-image {
	background: #FFF;
	width: 275px;
	height: 245px;
	float: left;
	margin: -35px 20px 0 0;
	order: 1;
}

.container-code1-1-information {
	background: rgba(128, 128, 128, 0.75);
	width: 45%;
	height: 110%;
	margin: -25px 0 0 0;
	padding: 15px;
	order: 1;
}

.container-code1-2-information {
	background: rgba(128, 128, 128, 0.75);
	width: 45%;
	height: 110%;
	margin: -25px 0 0 0;
	padding: 15px;
	order: 2;
}

.code1-1-title { 
	margin-top: -8px;
	text-align: left;
}


.code1-2-title { 
	margin-top: -8px;
	text-align: right;
}



@media only screen and (max-width: 600px) {
	.code-title {
		margin: 20px 0 0 30px;
	}

	.container-code1-1 {
		flex-flow: column nowrap;
		justify-content: center;
		align-content: center;
		width: 100%;
	}
	
	.container-code1-2 {
		flex-flow: column nowrap;
		justify-content: center;
		align-content: center;
		width: 100%;
	}


	.code1-1-image {
		background: #FFF;
		width: 275px;
		height: 245px;
		margin: -35px auto 0;
		order: 1;
	}
	
	.code1-2-image {
		background: #FFF;
		width: 275px;
		height: 245px;
		float: left;
		margin: -35px auto 0;
		order: 1;
	}
	
	.container-code1-1-information {
		background: rgba(128, 128, 128, 0.75);
		width: 80%;
		height: 110%;
		margin: 10px auto -25px;
		padding: 15px;
		order: 2;
	}
	
	.container-code1-2-information {
		background: rgba(128, 128, 128, 0.75);
		width: 80%;
		height: 110%;
		margin: 10px auto -25px;
		padding: 15px;
		order: 2;
	}
	
	.code1-1-title { 
		margin-top: -8px;
		text-align: left;
	}
	
	
	.code1-2-title { 
		margin-top: -8px;
		text-align: right;
	}
	
}


/* code2 */

.container-code2 {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	height: 100%;
}

.container-code2-1 {
	display: block;
	height: 175px;
	width: 100%;
	background-color: rgb(60, 60, 60);
	margin: 70px auto 0;
}

.container-code2-2 {
	display: block;
	height: 175px;
	width: 100%;
	background-color: rgb(45, 45, 45);
	margin: 100px auto auto;
}

.columns-code2 {
	display: flex;
	position: fixed;
	flex-flow: row wrap;
	justify-content: center;
	width: 50%;
	height: 75%;
	margin-top: 30px;
}

.column-code2 {
	display: flex;
	flex-flow: column nowrap;
	width: 28%;
	height: 90%;
	background-color: rgba(90, 90, 90, 0.95);
	border: 1px blue solid;
	margin: 0 10px;
}

.code2-image {
	background: #FFF;
	width: 80%;
	height: 245px;
	margin: 20px auto;
}


.container-code2-information {
	width: 100%;
	margin: 10px;
}


@media only screen and (max-width: 700px) {
	
	.columns-code2 {
		display: flex;
		position: fixed;
		flex-flow: row wrap;
		justify-content: space-evenly;
		width: 50%;
		height: 550px;
		margin-top: 30px;
	}
	
	.column-code2 {
		width: 70%;
		height: 25%;
		background-color: rgba(90, 90, 90, 0.95);
		border: 1px blue solid;
		margin: 0 10px;
		flex-flow: row nowrap;
	}

	.code2-image {
		width: 180px;
		height: 245px;
		max-height: 85%;
		margin: 10px 0 10px 10px;
	}

	.container-code2-information {
		display: block;
		width: 200px;
		margin: 10px;
	}

}

/* resume */

.resume-title {
	margin: 40px 0 0 40px;
	text-decoration: underline;
	text-decoration-color: blue;
}

.container-resume-education {
	width: 100%;
	height: 40%;
	margin: 10px;
	background-color: rgba(42, 81, 115, 0.74);
}

.container-resume-work {
	width: 100%;
	height: 40%;
	margin: 10px;
	background-color: rgba(42, 81, 115, 0.74);
}

@media only screen and (max-width: 600px) {
	.resume-title {
		margin: 20px 0 0 30px;
	}
}